
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
   --color-hover: #272727;
  --fuente-krona: 'Krona One', sans-serif;
  --fuente-montserrat: 'Montserrat', sans-serif;
}


* {
  padding: 0;
  margin:0;
}

body{
    box-sizing: border-box;
    background-color: #F3F5FC;
    color: black;
}

header{
    padding: 2% 0% 0% 15%;
}

.presentacion {
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* --- Caja izquierda con incio del proceso de encriptación --- INICIO */
.text-encriptar {
  margin-top: 16px; 
}

/* Sección frameEncriptar */
.frameEncriptar{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  gap: 32px;
  width: 55%;
  height: 500px;
  background-color: #F3F5FC;
  border: cornflowerblue 1px solid;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.botonesEncriptar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
}


/* --- Caja izquierda con incio del proceso de encriptación --- FIN */

/* --- Caja derecha con resultado del proceso de encriptación --- INICIO */
.text-resultado {
  margin-top: 16px;
}

/* Sección frameDesencriptar */
.frameResultadoEncriptacion{
 display: flex;
 flex-direction:column;
 justify-content: space-between;
 align-items: center;
 padding-bottom: 20px;
 gap: 32px;
 width: 40%;
 height: 500px;
 background-color:#F3F5FC;
 border: cornflowerblue 1px solid;
 border-radius: 15px;
 -webkit-border-radius: 15px;
 -moz-border-radius: 15px;
 -ms-border-radius: 15px;
 -o-border-radius: 15px;
}
/* --- Caja derecha con resultado del proceso de encriptación --- FIN */

/*.presentacion__imagen {
  display:block;
  margin:auto;
  padding-top: 24px;    
}

.presentacion__imagen{
  width: 10%;
}*/

.footer{
  color:white;
  background-color:darkgray;
  padding: 24px;
  text-align: center;
  font-family: var(--fuente-krona);
  font-size: 1.5rem;
  font-weight: 400;
}

@media (max-width: 1200px) {

  .header{
       padding: 10%;  
  }
  
  .presentacion{
      /*flex-direction: column-reverse;*/
      flex-direction:column;
      padding: 5%;
      gap: 32px;

  }

  .frameEncriptar{
      width: auto;               
  }

  .frameResultadoEncriptacion{
    width: auto;                 
}

.botonesEncriptar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

.text-resultado {
  margin-top: 16px;
  margin-left: 20px;
  margin-right: 20px;
  color: black;
}

}
